* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}
.card-container {
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin-top: 2em;
  min-height: 40vh;
}
.card-carousel {
  --card-width: 80%;
  --card-max-width: 700px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  transition: filter 0.3s ease;
}
.card-carousel.smooth-return {
  transition: all 0.2s ease;
}
.card-carousel .card {
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  min-width: 250px;
  min-height: 40vh;
  position: absolute;
  margin: 0 auto;
  color: black;
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.8);
}
.card.highlight {
  filter: brightness(1);
}
