html {
    width: 100%;
    height: 100%;
}
.newsGenBox{
    background-color:grey;
}
.topBtn{
    display:none;
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index:10;
    border:solid 2px white;
    color:Black;
    border-radius: 10px;
}

.topBtn:hover{
    color:red;
}