<!doctype html>
<html lang="en">
  <head>
    <title>Weekly News Site</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="BOOTSTRAP/bootstrap.min.css" />
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <link rel="stylesheet" href="carousel.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="imgs/MHSLOGOOOOOO.png"
      type="image/x-icon"
    />
  </head>

  <body id="vueApp">
    <div id="loadingscreen">
      <scrolling-text
        id="scrollingtextbar1"
        text-class="textcolor"
      ></scrolling-text>
      <img
        src="imgs/MarlboroHighSchool.png"
        alt="Loading Icon"
        id="loadingicon"
      />
      <scrolling-text
        id="scrollingtextbar2"
        text-class="textcolor1"
      ></scrolling-text>
    </div>
    <header>
      <nav-bar
        :title="'Today\'s Week is '+todayDateISO"
        name="sections"
        for="sections"
        :custom-classes="['navBar']"
        :headings="['Short Term', 'Long Term', 'Refresh', 'Time Machine']"
        :function-bindings="{'Refresh': clearData, 'Time Machine': openTimeMachine}"
      ></nav-bar>
    </header>
    <main>
      <section
        class="shortTerm text-center justify-content-center container-fluid"
        :id="idSyntax('Short Term', 0)"
      >
        <div class="weekOf">Short Term - {{weekOf}}</div>
        <div class="directions">- drag the cards to scroll -</div>
        <div class="card-container">
          <div class="card-carousel">
            <div
              class="card gold-inverted-card"
              v-for="(day, i) in days"
              :id="i + 1"
              :class="{currentDay: dayNow === day[0]}"
            >
              <div class="card-date">{{ISOtoText(day[0])}}</div>
              <div v-if="day[1].events.length === 0" class="noEvents">
                No Events Today
              </div>
              <event-box
                v-for="event in day[1].events"
                :event="event"
              ></event-box>
            </div>
          </div>
        </div>
        <a href="#" class="visuallyhidden card-controller">
          Carousel controller
        </a>
      </section>
      <hr id="split" />
      <nav-bar
        title="Long Term Events"
        name="longTerm"
        for="events"
        fixed-height="66"
        :custom-classes="['headings', 'navBar']"
        :headings="[...longTerm.map(event => event.Name)]"
        :function-bindings="{}"
      ></nav-bar>
      <section
        class="longTerm text-center justify-content-center container-fluid"
        :id="idSyntax('Long Term', 1)"
      >
        <div v-if="longTerm.length === 0" class="outCenter noEvents">
          No Long Term Events
        </div>
        <div class="center" v-if="longTerm.length > 0">
          <div v-if="longTerm.length === 0" class="noEvents">
            No Long Term Events
          </div>
          <event-box
            v-for="(event, i) in longTerm"
            :event="event"
            :id="idSyntax(event.Name, i)"
            longTerm="true"
          ></event-box>
        </div>
      </section>
    </main>
    <footer class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <a
            href="https://marlboro.frhsd.com/about-us/about-us1"
            target="_blank"
            class="footer-item"
            >About Us</a
          >
          <a
            v-for="link in footerLinks"
            target="_blank"
            class="footer-item"
            :href="link.link"
          >
            <img
              class="img-fluid"
              style="filter: drop-shadow(0px 0px 1px white)"
              :src="link.img"
            />
          </a>
        </div>
      </div>
    </footer>
    <div id="topBtn" class="topBtn" @click="scrollTop()">To Top</div>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="timeMachineOff"
      aria-labelledby="timeMachineLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="timeMachineLabel">Time Machine</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="row">
          <div class="col-6">
            <input
              type="search"
              placeholder="Search Events"
              v-model="searchString"
              id="search"
              maxlength="25"
              name="search"
            />
          </div>
          <div class="col-6">
            <a
              data-bs-toggle="collapse"
              href="#response"
              role="button"
              aria-expanded="true"
              aria-controls="response"
              class="toggleResults"
              >Click to toggle results</a
            >
          </div>
        </div>
        <div id="response" class="collapse show">
          <ul>
            <li v-for="result in searchResults" class="responseLi">
              <p @click="setWeek(result.index)">
                {{ISOtoDate(result.startDate)}}
              </p>
            </li>
          </ul>
        </div>
        <div class="spacer"></div>
        <div
          class="date"
          v-for="(date, i) in timeMachine"
          :data-index="i"
          :class="{currentWeek: index === i}"
          @click="setWeek(i)"
        >
          {{ISOtoDate(date)}}
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="imgModal"
      tabindex="-1"
      aria-labelledby="imgModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2><a href="" target="_blank" id="imageLinkTarget">Open Image in New Tab</a></h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img id="modalTarget" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src="BOOTSTRAP/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0"></script>
    <script src="sheet.js"></script>
    <script src="carousel.js"></script>
    <script src="script.js"></script>
  </body>
</html>
