html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
main {
  margin-top: 100px;
}
.longTerm {
  background-color: rgb(0, 0, 128);
}
body {
  width: 100%;
  height: 100%;
  background-color: #030063;
}
.topBtn {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  border: solid 2px goldenrod;
  color: whitesmoke;
  border-radius: 10px;
  height: 60px !important;
  aspect-ratio: 1/1;
  background-color: blue;
  text-align: center;
  padding-top: 15px;
}
.topBtn:hover {
  color: goldenrod;
}
.card {
  background: goldenrod;
  display: flex !important;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.card .date {
  border-bottom: 1px solid gold;
  width: 100%;
  color: white;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
.card .event {
  width: 100%;
  border: 1px solid red;
  box-shadow: 0px 0px 10px black inset;
  width: 90%;
}
.currentWeek {
  color: purple;
}
.currentDay {
  background: gold !important;
}
header {
  background-origin: yellow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.navBar {
  border : solid rgb(237, 186, 61);
  width: 100%;
  background-color: rgb(46, 46, 46);
  color: whitesmoke !important;
}
.nav-link {
  color: whitesmoke !important;
}
.tabs {
  background: re;
  width: 100%;
}
#loadingscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background: linear-gradient(to bottom, rgb(0, 0, 110), rgb(0, 0, 29));
  z-index: 10;
}
#scrollingtextbar1 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  line-height: 50px;
  color: transparent;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  border: solid 2px gold;
  background-color: rgb(0, 0, 94);
}
#scrollingtextbar2 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  height: 100px;
  line-height: 50px;
  color: transparent;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  border: solid 2px gold;
  background-color: rgb(0, 0, 94);
}
#loadingicon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-position: center;
  object-fit: contain;
  margin-top: 200px;
  width: 200px;
}
.textcolor {
  color: whitesmoke;
  animation: scroll-left 20s linear infinite;
  line-height: 50px;
}
.textcolor1 {
  color: whitesmoke;
  animation: scroll-left 20s linear infinite;
  line-height: 50px;
  animation-direction: reverse;
}

.event {
  margin-left: 40px;
  margin-right: 40px;
}

.offcanvas {
  background-color: darkblue;
  border: solid goldenrod 10px ;
  color:whitesmoke;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-99vw);
  }
}

.hiding {
  animation: fadeout 5s linear 1;
  -webkit-animation: fadeout 5s linear 1;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
