#loadingscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkblue;
    z-index: 2;
}
#scrollingtextbar1   {
margin-top: 100px;
    width: 100%;
    height: 100px;
    line-height: 50px;
    color: transparent;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border: solid 2px gold;
    background-color: rgb(0, 0, 94);
}

#scrollingtextbar2 {
    
    margin-top: 200px;
    width: 100%;
    height: 100px;
    line-height: 50px;
    color: transparent;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border: solid 2px gold;
     background-color: rgb(0, 0, 94);
}

#loadingicon {
  margin-left: auto;
  margin-right: auto;
  display: block;
    margin-top: 200px;
}
.textcolor {
    color: whitesmoke;
    animation: scroll-left 10s linear infinite;
}